.featured{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1
}

.featuredImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* RESPONSIVE */
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .featured {
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    gap: 15px;
  }

  .featuredItem {
    height: auto;
    /* Let the height adjust based on content */
  }

  .featuredTitles {
    position: relative;
    text-align: center;
    /* Center titles */
    left: auto;
    bottom: auto;
    margin-top: 10px;
    /* Add some spacing */
  }
}